{% extends 'base.html' %}

{% block head %}

<title>Login Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align:center; font-weight:bold;">Linkedin Login</h1>

    <div class="form">
        <form action="/login" method="POST">
            <div style="text-align: center;">
                <label for='login_Id'>Username:</label>
                <input type="text" name="login_Id" id="login_Id">
            </div>
            <br>
            <div style="text-align: center;">
                <label for='password'>Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <br>
            <div style="text-align: center;">
    <input type="submit" value="Submit">
</div>
            <div style="text-align: center;">
                <label >{{error}}:</label>
        </form>
    </div>
</div>
{% endblock %}