<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <form action='/search_jobs' method='post'>

    <h1 style="text-align:center">Scrape jobs Directly from Linkedin</h1>
    <div style="text-align: center;">
        <label for='content'>Do you Want to scrape from linkdin Y/N?:</label>
        <input type='text' id='source' name='source' required>
        <label for='content'>Job Name:</label>
        <input type='text' id='content' name='content' required>
    </div>
    <br>
    <div style="text-align: center;">
    <input type='submit' value='Submit'>
    </div>
      <br>
      <div style="text-align: center;color: red">
                <label >{{error}}:</label>
      </div>
  </form>
<br>
<div style="text-align: center;color: green"><label >Note:Y means scrape live jobs from linkedin , N means it will show older scrapped jobs.</label></div>
</body>

</html>