<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Scrapped Jobs</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

  <div class="table-users">
  <h1 style="text-align:center; font-weight:bold;">Jobs from Database</h1>
      <br>

   <table cellspacing="0">
      <tr>
          <th>Time of Scrap</th>
          <th>Company Name</th>
        <th>Company Profile</th>
        <th>Job Profile</th>
        <th>Job Link</th>
          <th>Location</th>
          <th>Time of Post</th>

      </tr>
         {% for job in job_list %}
      <tr>
          <td>{{ job.Time_of_scrap}}</td>
          <td>{{ job.Company_Name}}</td>
        <td><button onclick="window.open('{{ job.Company_Profile}}', '_blank')">Visit Profile</button></td>
        <td>{{ job.Job_profile}}</td>
        <td><button onclick="window.open('{{ job.Job_Link}}', '_blank')">Apply</button></td>
          <td>{{ job.Location}}</td>
          <td >{{ job.Time_of_Post}}</td>
       {% endfor %}
   </table>
      <form action='/want_another_job' method='post'>
    <div style="text-align: center;">
        <label for='content'>Do yoo want to scrape another Job Y/n?:</label>
        <input type='text' id='content' name='content' required>
    </div>
    <br>
    <div style="text-align: center;">
    <input type='submit' value='Submit'>
    </div>
  </form>
</div>



</body>

</html>
